.flag {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.flag__title {
  font-family: $heading-font;
  font-size: 1.188em;
  line-height: normal;
  margin-bottom: 3.158em;
  padding: 0 1em;
  position: relative;
  z-index: 2;
}

.flag__section {
  width: 100%;
}

.flag__sky {
  background: #0097E1;
  color: $white;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  position: relative;
  min-height: 26.875em;

  &::after {
    content: '';
    width:100%;
    height:0.3em;
    background: $green;
    position: absolute;
    bottom: -0.1em;
    left:0;
    z-index: 4;
  }
}

.flag__grass {
  background: $green;
  color: $white;
  text-align: center;
}

.flag__icon {
  line-height: 0;
  position: relative;
  z-index: 3;
}

.flag__icon-cloth {
  position: absolute;
  top: 10.5em;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;

  &.flag__icon-cloth__full-mast {
    top:0;
  }

  &.flag__icon-cloth__half-mast {
    top: 5.25em;
  }
}
