/*CSS RESET START*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,embed { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td 
	{ margin :0; padding : 0;}

/* Normalizes font-size for headers */
h1, h2, h3, h4, h5, h6 { 
	font-size : 100%; 
	font-weight:normal;
}

/* Removes list-style from lists */
ol, ul 
	{ list-style : none; }

blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration:line-through; }
abbr[title],dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input,select { vertical-align:middle; }
/*CSS RESET END*/
body { font:13px/1.231 arial,helvetica,clean,sans-serif; font-size:small; }
/* hack retained to preserve specificity */
select,input,textarea,button { font:99% sans-serif; }
pre,code,kbd,samp { font-family:monospace, sans-serif; }

lable {display: block;font-family: Tahoma, Geneva, sans-serif; font-weight: bold; padding: 15px 0 10px 0;text-transform: uppercase; font-size: 12px;}

#wrapper {width: 960px; padding: 20px; margin: 0 auto;}
#header {float: left; width: 260px; padding-right: 40px;}
#page_content {float: left; width: 500px;}

input {border: 1px solid #000; width: 480px; padding: 5px 10px 5px 10px; font-size: 14px; font-family: Century Gothic, sans-serif;}

textarea { font-size: 12px; font-family: Century Gothic, sans-serif;}

.shorter {height: 80px; width:480px; padding: 10px;}
.longer {height: 160px; width:480px; padding: 10px;}

#header {padding-top: 41px; font-size: 14px; font-family: Tahoma, Geneva, sans-serif; text-align: right;}
#header li { overflow: auto;}
#header li a { float: right; color: #000; font-size: 12px; text-transform: uppercase; display: block; font-family: Tahoma, Geneva, sans-serif; border: 1px solid #000; background-color: #fff; padding: 5px; margin-bottom: 10px; width: 120px;}
#header li a:hover, #header li a.active { background-color:#e3e3e3;}


.submit {display: block; border: 1px solid #000; background-color: #fff; padding: 10px; margin-top: 40px; margin-bottom: 80px; width: 500px; }