/*CSS RESET START*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,embed { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td 
	{ margin :0; padding : 0;}

/* Normalizes font-size for headers */
h1, h2, h3, h4, h5, h6 { 
	font-size : 100%; 
	font-weight:normal;
}

/* Removes list-style from lists */
ol, ul 
	{ list-style : none; }

blockquote,q { quotes:none; }
blockquote:before,blockquote:after,q:before,q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration: none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration:line-through; }
abbr[title],dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input,select { vertical-align:middle; }
/*CSS RESET END*/
/* hack retained to preserve specificity */
select,input,textarea,button { font:99% sans-serif; }
pre,code,kbd,samp { font-family:monospace, sans-serif; }

/*CUSTOM STYLES*/
body { background:#f8f4e7 url(../img/background.png) repeat-y center center; font-family: 'Gill Sans','Gill Sans MT', sans-serif; line-height: 1.0; font-size: 14px !important; color:#000; -webkit-text-size-adjust: none; }
p {padding-bottom: 10px }
ul {padding-bottom: 10px;}
a {color:#a33038;}

#wrapper { width:1024px; margin:0 auto;}

header {background: url(../img/header_background.png) repeat-x; height: 147px;}
header #header_logo {background: url(../img/header_logo.png) no-repeat; width: 285px; height: 104px; margin: 27px 0 16px 14px; float: left;}
header #header_information { float: left; padding: 52px 0 0 295px; font-size: 19px; text-align: center;}
header #header_information #phone {font-size: 27px;}

#navigation #nav_top {background: url(../img/nav_top.png) no-repeat; height: 17px;}
#navigation #nav_body {background: url(../img/nav_middle.png) repeat-y; padding: 4px 0 1px 0;}
#navigation #nav_bottom {background: url(../img/nav_bottom.png) no-repeat; height: 17px;}

#page_header {float: left;}
#main_menu {float: right; width: 207px; padding: 0;}
#main_menu li {background: url(../img/nav_item_background.png) no-repeat bottom left; padding: 0 0 6px 0; margin: 0 0 5px 0;}
#main_menu a { display: block; color: #dcceab; font-size: 14px; height: 17px;}
#main_menu a.active {font-weight: bold; padding: 0 !important; margin: 0 !important;}
#main_menu a:hover {font-weight: bold;}
#main_menu a#delivery_and_installation {height: 32px;}
#main_menu a#contact_us {background: none !important; margin-bottom: 0 !important; padding-bottom: 0 !important;}
#main_menu #last_menu_item {background: none !important; margin-bottom: 0 !important; padding-bottom: 0 !important;}

#main_menu .sub_menu {display: none;}
#main_menu .sub_menu li {background: none !important; padding: 0 !important; margin: 0 !important;}
#main_menu .sub_menu li a { padding: 0 !important; margin: 0 !important; background: none !important;}
.framing #main_menu #framing_menu .sub_menu, .gifts #main_menu #gifts_menu .sub_menu {display:block; padding: 0 0 0 10px;}

#content {background-color: #dcceab; padding: 0 0 23px 0;}
#main_content {float:left; width: 643px; padding: 0 0 0 98px; margin: 28px 0 0 0; line-height: 18px;}
#main_content h1 {font-size: 31px; padding: 0 0 14px 0; letter-spacing: -1px; line-height: normal;}
#main_content #we_offer li {width: 160px;}

#image_gallery {position: relative;}
#image_gallery #scrollable {height: 84px; width: 570px; overflow: hidden; position: relative;}
#image_gallery #scrollable #items {width:20000em; position:absolute;}
#image_gallery #scrollable #items div {float: left;}
#image_gallery #scrollable #items div img {border:4px solid #a33038; margin-right: 6px;}
#image_gallery #scrollers {position: absolute; left: 580px; top: 10px; width: 55px; height: 42px; text-indent: -9999px;}
#image_gallery #scrollers #previous {background: url(../img/gallery_arrows.png) no-repeat; width: 22px; height: 21px; margin-right: 5px; cursor: pointer; float: left;}
#image_gallery #scrollers #next {background: url(../img/gallery_arrows.png) no-repeat 0 -21px; width: 22px; height: 21px; cursor: pointer; float: left;}
#image_gallery #group_numbers {padding-top: 22px;}
#image_gallery #group_numbers .group {float: left; width: 184px;}
#image_gallery #group_numbers .gallery_group {cursor: pointer}
#image_gallery #group_numbers .gallery_group span { display:block; float: left; width: 16px; padding-right: 20px; text-align: right;}
#image_gallery #group_numbers .gallery_group .active {color:#a33038;}
#image_gallery #group_numbers li {float: left;}

#sub_content {float: left; width: 283px; margin: 12px 0 0 0; padding-top: 15px; background: url(../img/subcontent_background.png) repeat-y;}
#sub_content #enews_box label.error {display: block; font-size: 10px; padding-bottom: 5px; color: #000;}
#sub_content #enews_box input[type="text"] {width: 156px; border: 1px solid #000; font-size: 12px; background: #fff; padding: 4px 5px 4px 5px; margin: 5px 0 5px 0;}
#sub_content #enews_box input[type="submit"] {display: inline-block; background: url(../img/submit_btn.png ) no-repeat 0 0; width: 44px; height: 18px; line-height: 100px; overflow: hidden; text-indent: -9999px; cursor: pointer; border: 0;}
#sub_content #enews_box input[type="submit"]:hover {background-position: -44px 0;}
#sub_content #contact_sub {padding: 0 0 0 78px; font-size: 16px;}
#sub_content #directions {padding: 8px 0 0 0;}

footer {padding: 16px 0 16px 98px; font-size: 11px;}
footer a {color:#000}

/*HELPER CLASSES*/
.title {font-size: 18px; padding: 30px 0 5px 0;}
.time {padding-bottom: 10px;}
.picture_box {padding: 0 0 14px 42px;}
.special_box {background: url(../img/subcontent_spacer.png) no-repeat left bottom; padding-bottom: 40px !important;}
.medium_header {font-size: 18px;}
.anchor_block { display:block; width:100%; height:100%;color: #003e74; }
.uc {text-transform: uppercase;}
.highlight {color:#a33038 !important }
.highlight a {color:#a33038 !important }
.subcontent_padding {padding: 0 0 20px 78px;}
.white {color:#FFF !important }
.bold {font-weight:700 !important;}
.double_list section {float:left; width: 315px;}
.double_list ul {width: 290px; list-style: disc; padding-left: 18px;}
.double_list .title {padding: 0 !important;}
.ulpadding {padding:0 0 15px 0;color:#000!important;}
.float_left li {padding:0 23px 5px 0; float:left;}
.ulpaddingfloatleft li span { color:#000!important;}
.bullets { list-style-type:disc; padding-left:15px;color:#a33038;}
.withstyle span { color:#000!important;}
.withstyle a { text-decoration: underline; }
.witharrow li { padding-left: 25px; background-image: url(../img/liicon.png); background-repeat: no-repeat; background-position: 0 0;}
.ulpaddingright { padding-right:26px; }
.textlink { color:#003e74; display:inline !important; }
.textlink:hover { text-decoration:underline }
.ulbottomspacing { padding-bottom:10px; }
.floatedimage {float:right; padding:0 0 15px 15px;}
/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat:no-repeat; text-align:left; direction:ltr; }
/* Hide for both screenreaders and browsers */
.hidden { display:none; visibility:hidden; }
/* Hide only visually, but have it available for screenreaders */
.visuallyhidden { position:absolute!important; clip:rect(1px1px1px1px); 
/* IE6, IE7 */
clip:rect(1px,1px,1px,1px); }
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden; }
/* Clearfix */
.clearfix:before, .clearfix:after {content: "."; display: block; height: 0; overflow: hidden;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

/*CSS3 Media queries*/
@media all and orientationportrait}
@media all and orientationlandscape}
@media screen and max-device-width 480px}
@media print* { background:transparent!important; color:#444!important; text-shadow:none!important; }


/* Don't show links for images */
pre,blockquote { border:1px solid #999; page-break-inside:avoid; }
thead { display:table-header-group; }

/* css-discuss.incutio.com/wiki/Printing_Tables */
tr,img { page-break-inside:avoid; }
@page { margin:.5cm; }
p,h2,h3 { orphans:3; widows:3; }
h2,h3 { page-break-after:avoid; }
}