body { background:#fbf9f7; }
#wrapper { margin:0 auto; padding:0; width:960px; height:auto; }
#header { float:left; position:relative; margin:0; padding:0; width:960px; height:92px; background:#ffffff; }
#logo { float:left; position:relative; margin:16px 0 0 20px; padding:0; width:421px; height:59px; z-index:100; }
#contactInfo { float:right; position:relative; margin:41px 59px 0 0; width:auto; height:auto; z-index:100; }
#banner { float:left; position:relative; margin:0; padding:0; width:960px; height:274px; background:#ffffff; top:0; }
#banner.careers { float:left; position:relative; margin:0; padding:0; z-index:50; top:-47px; }
#banner.careers #flashBanner { height: 334px; overflow: hidden; }
#contentNavigationWrapper { float:left; position:relative; margin:0; padding:0; width:960px; height:auto; background:url(../img/content_bg.jpg) repeat-y; }
#contentBottom { float:left; position:relative; margin:0; padding:0; width:960px; height:auto; background:url(../img/content_bottom_bg.jpg) no-repeat bottom right; }
#navigation { float:left; position:relative; margin:0; padding:0; width:181px; height:auto; }
#contentWrapper { float:left; position:relative; margin:0; padding:0; width:544px; min-height:448px; height:auto!important; height:448px; }
#content { float:left; position:relative; margin:24px 39px 0 25px; padding:0; width:480px; min-height:448px; height:auto!important; height:448px; }
#sideContent { float:right; position:relative; margin:0; padding:0; width:235px; height:auto; }
#enewsletter { float:left; position:relative; margin:24px 0 0 27px; padding:0; width:180px; height:auto; }
#enewsletter .title { font-size:11px!important; }
#quotes { float:left; position:relative; margin:24px 0 0 27px; padding:0; width:180px; height:auto; }
#cpa_america { float:left; position:relative; margin:80px 0 0 27px; padding:0; width:170px; height:auto; }
#recruiting_events { float:left; position:relative; margin:50px 0 0 27px; padding:0; width:170px; height:auto; }
#footer { float:left; position:relative; margin:0; padding:0; width:960px; height:56px; background:url(../img/footer.jpg) no-repeat; }

/*Typography*/
body { font-size:65.5%; font-family:Arial, Helvetica, sans-serif; }
#contactInfo p { font-size:12px; color:#00467f; font-weight:normal; }
#content h3 { font-size:1.8em; color:#003e74; font-weight:bold; margin:0 0 .5em; text-transform:uppercase; }
#content p { font-size:1.4em; line-height:1.4em; margin:0 0 1em; color:#111111; }
#content p strong { font-size:1.1em; color:#003e74; font-weight:bold; }
.hide { display:none; }
#content a { color:#00538d; }
#content a:hover { color:#003e74; }
#content ul { margin:0 0 1.5em 15px; padding:0; }
#content ul li { list-style:url(../img/bullet.png) outside; font-size:1.3em; line-height:normal; margin:0 0 .5em; }
#content ul.sublist { font-size:.7em!important; margin-top:4px; }
#quotes-inline p { font-size:16px; color:#111111; }
#sideContent #enewsletter p { color:#5b3615; font-family:'Droid Sans', arial, serif; font-size:12px; line-height:14px; font-weight:bold; }
#sideContent #cpa_america h4 { color:#111111; font-family:Arial, Helvetica, sans-serif; font-weight:bold; margin:0 0 10px; font-size:12px; line-height:14px; }
#sideContent #cpa_america p { color:#111111; font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:10px; line-height:14px; margin:0 0 10px; }
#sideContent #quotes p,#sideContent #quotes a { color:#003e74; font-size:14px; margin:0 0 10px; line-height:16px; float:left; }
#sideContent #quotes a { font-weight:bold; text-decoration:none; }
#sideContent #quotes a:hover { text-decoration:underline; }
#sideContent #quotes p.name { text-align:left; font-size:12px; width:125px; float:right; }
#sideContent p.brown,#sideContent #cpa_america p.brown { color:#5b3615; font-family:'Droid Sans', arial, serif; font-size:12px; line-height:14px; }
#sideContent ul { margin: 15px; font-size: 16px;}
#footer { text-align:center; }
#footer p { font-size:11px; color:#ffffff; margin:27px 0 0; }
#footer a { color:#ffffff; }
#footer a:hover { color:#cccccc; }
table#people { font-size:1.2em; }
table#people thead tr { background:#003e74; color:#ffffff; }
table#people tbody tr:nth-child(even) { background:#e6e6e6; }
table#people a { color:#111111; font-weight:normal; }
table#people a:hover { color:#003e74; }

/*Navigation*/
#mainNav { list-style:none; height:auto; margin:0; padding:0; width:181px; }
#mainNav li { display:block; width:181px; height:51px; }
#mainNav li a { float:left; width:144px; height:28px; padding:23px 0 0 37px; background:url(../img/nav-bg.jpg) no-repeat; text-transform:uppercase; border:0 dashed; text-decoration:none; font-size:12px; color:#ffffff; }
#mainNav li a:hover { background-position:0 -51px; }
#mainNav li ul li { display:none; line-height:normal; height:auto; }
#mainNav li ul { float:left; background:url(../img/list-bg.jpg) no-repeat bottom right; }
#mainNav.home li#home a { background-position:0 -51px; font-weight:bold; }
#mainNav.contact_us li#contact_us a { background-position:0 -51px; font-weight:bold; }
#mainNav.client_portal li#client_portal a { background-position:0 -51px; font-weight:bold; }
#mainNav.about-us #about-us a { background-position:0 -49px; font-weight:bold; }
#mainNav.about-us #about-us .subNav li { display:inline; }
#mainNav.about-us #about-us .subNav li a { font-weight:normal; }
#mainNav.services #services a { background-position:0 -49px; font-weight:bold; }
#mainNav.services #services .subNav li { display:inline; }
#mainNav.services #services .subNav li a { font-weight:normal; }
#mainNav.industries #industries a { background-position:0 -49px; font-weight:bold; }
#mainNav.industries #industries .subNav li { display:inline; }
#mainNav.industries #industries .subNav li a { font-weight:normal; }
#mainNav.careers #careers a { background-position:0 -49px; font-weight:bold; }
#mainNav.careers #careers .subNav li { display:inline; }
#mainNav.careers #careers .subNav li a { font-weight:normal; }
#mainNav.press #press a { background-position:0 -49px; font-weight:bold; }
#mainNav.press #press .subNav li { display:inline; }
#mainNav.press #press .subNav li a { font-weight:normal; }
#mainNav.resources #resources a { background-position:0 -49px; font-weight:bold; }
#mainNav.resources #resources .subNav li { display:inline; }
#mainNav.resources #resources .subNav li a { font-weight:normal; }
#mainNav.commitment_to_community li#about-us ul li#commitment_to_community a,#mainNav.history li#about-us ul li#history a,#mainNav.people li#about-us ul li#people a,#mainNav.service_philosophy #service_philosphy a,#mainNav.audit li#services ul li#audit a,#mainNav.consulting_outsourced_services li#services ul li#consulting_outsourced_services a,#mainNav.entrepreurial li#services ul li#entrepreurial a,#mainNav.forensics_litigation_services #services ul #forensics_litigation_services a,#mainNav.construction_real_estate #construction_real_estate a,#mainNav.energy #energy a,#mainNav.financial_services #financial_services a,#mainNav.healthcare #healthcare a,#mainNav.high_net_worth li#industries ul li#high_net_worth a,#mainNav.manufacturing li#industries ul li#manufacturing a,#mainNav.not_for_profit_government li#industries ul li#not_for_profit_government a,#mainNav.private_equity li#industries ul li#private_equity a,#mainNav.wholesalers li#industries ul li#wholesalers a,#mainNav.tax #tax a,#mainNav.current_openings li#careers ul li#current_openings a,#mainNav.letter_from_ceo #letter_from_the_ceo a,#mainNav.college_recruiting li#careers ul li#recruiting_brochure a,#mainNav.company_brochures li#press ul li#company_brochures a,#mainNav.press_releases li#press ul li#press_releases a,#mainNav.events li#resources ul li#events a,#mainNav.financial_links li#resources ul li#financial_links a,#mainNav.tax_schedules_calculators li#resources ul li#tax_schedules_calculators a { font-weight:bold!important; }
#mainNav.commitment_to_community li#about-us ul li#commitment_to_community a:hover,#mainNav.history li#about-us ul li#history a:hover,#mainNav.people li#about-us ul li#people a:hover,#mainNav.service_philosophy li#about-us ul li#serice_philosophy a:hover,#mainNav.audit li#services ul li#audit a:hover,#mainNav.consulting_outsourced_services li#services ul li#consulting_outsourced_services a:hover,#mainNav.entrepreurial li#services ul li#entrepreurial a:hover,#mainNav.forensics_litigation_services li#services ul li#forensics_litigation_services a:hover,#mainNav.construction_real_estate li#services ul li#construction_real_estate a:hover,#mainNav.energy li#services ul li#energy a:hover,#mainNav.financial_services #financial_services a:hover,#mainNav.healthcare li#industries ul li#healthcare a:hover,#mainNav.high_net_worth li#industries ul li#high_net_worth a:hover,#mainNav.manufacturing li#industries ul li#manufacturing a:hover,#mainNav.not_for_profit_government li#industries ul li#not_for_profit_government a:hover,#mainNav.private_equity li#industries ul li#private_equity a:hover,#mainNav.wholesalers li#industries ul li#wholesalers a:hover,#mainNav.current_openings li#careers ul li#current_openings a:hover,#mainNav.leffter_from_ceo li#careers ul li#leffter_from_ceo a:hover,#mainNav.recruiting_brochure li#careers ul li#recruiting_brochure a:hover,#mainNav.company_brochures li#press ul li#company_brochures a:hover,#mainNav.press_releases li#press ul li#press_releases a:hover,#mainNav.events li#resources ul li#events a:hover,#mainNav.financial_links li#resources ul li#financial_links a:hover,#mainNav.tax_schedules_calculators li#resources ul li#tax_schedules_calculators a:hover { font-weight:bold; color:#fff; }
ul#mainNav ul li { background:none; font:normal 11px/11px Arial, Helvetica, sans-serif; border:none; padding:0; margin:0; width:135px; height:auto; }
ul#mainNav ul li a { color:#ffffff; font-weight:normal; display:block; background:none; text-transform:none; width:135px; margin:0 0 10px 40px; padding:0; height:auto; }
ul#mainNav ul li a:hover { color:#cccccc; }

/*Forms*/
input#enews { width:180px; }