@charset "UTF-8";

@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $width $height;
    }
  }
}

// Default Variables

$slick-font-path: "/workspace/media/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "/workspace/media/images/" !default;
$slick-arrow-color: #ff4b00 !default;
$slick-dot-color: #cadcdb !default;
$slick-dot-color-active: #ff4b00 !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: 6px !default;
$opacity-default: 1;
$opacity-on-hover: 1;
$opacity-not-active: .25;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    .slick-loading & {
        background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Icons */
@if $slick-font-family == "slick" {
  @font-face {
      font-family:"slick";
      src:    slick-font-url("slick.eot");
      src:    slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
              slick-font-url("slick.woff") format("woff"),
              slick-font-url("slick.ttf") format("truetype"),
              slick-font-url("slick.svg#slick") format("svg");
      font-weight: normal;
      font-style: normal;
  }
}

/* Arrows */

/*.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background-color: #444444;
    background-repeat: no-repeat;
    color: #fff;
    top: 95px;
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
      background-color: #6fb6d9;
    }
    &.slick-disabled:before {
      opacity: $opacity-not-active;
    }
}
.slick-prev {
  @include background-image-retina('../images/prev', 'png', 9px, 16px);
  background-position: 10px center;
  left: -30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  @media all and (max-width: 767px) {
    left: -20px;
  }
}
.slick-next {
  @include background-image-retina('../images/next', 'png', 9px, 16px);
  background-position: 12px center;
  right: -30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  @media all and (max-width: 767px) {
    right: -20px;
  }
}*/

/* Dots */

.slick-slider {
    //margin-bottom: 30px;
}
.slick-dots {
    position: absolute;
    bottom: -60px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
    @media all and (max-width: 767px) {
      display: none !important;
    }
    li {
        position: relative;
        display: inline-block;
        height: 8px;
        width: 8px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
          border: 0;
          background: #cadcdb;
          border-radius: 100%;
          -moz-border-radius: 100%;
          -webkit-border-radius: 100%;
          color: #353535;
          display: block;
          height: 8px;
          width: 8px;
          outline: none;
          line-height: 0;
          font-size: 0;
          color: transparent;
          padding: 0;
          cursor: pointer;
          &:hover, &:focus {
            background: $slick-dot-color-active;
          }
        }
        &.slick-active button {
          background: $slick-dot-color-active;
        }
    }
}
