@import "slick";

$bree: "bree-serif", Helvetica, Arial, Verdana, sans-serif;
$azo: "azo-sans-web", Helvetica, Arial, Verdana, sans-serif;
$green: #2b4c2a;
$yellow: #fed103;
$red: #ef3e42;
$blue: #00aeef;
$grey: #4d4d4f;

@mixin background-gradient($start, $end) {
  background-image: -moz-linear-gradient(top, $start 0%, $end 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from($start), to($end));
}
@mixin background-gradient-horizontal($start, $end) {
  background-image: -moz-linear-gradient(left, $start 0%, $end 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, from($start), to($end));
}
@mixin background-image-retina($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    & {
      background-image: url($file + '@2x.' + $type);
      background-size: $width $height;
    }
  }
}
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin box-shadow($offset, $blur, $color) {
  box-shadow: 0 $offset $blur $color;
  -moz-box-shadow: 0 $offset $blur $color;
  -webkit-box-shadow: 0 $offset $blur $color;
}
@mixin inner-box-shadow($offset, $blur, $color) {
  box-shadow: inset 0 $offset $blur $color;
  -moz-box-shadow: inset 0 $offset $blur $color;
  -webkit-box-shadow: inset 0 $offset $blur $color;
}
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

/* Global
----------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
body {
  background: $green;
  color: #fff;
  font-family: $azo;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  @media all and (max-width: 1024px) {
    -webkit-text-size-adjust: none;
  }
}
a {
	&:hover {
	  text-decoration: none;
  }
}
img {
  max-width: 100%;
}

/* Nav
----------------------------------------------- */
nav {
  background: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 200;
  &:before {
    border-top: 2px dashed $red;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    top: 5px;
    width: 100%;
  }
  > div {
    display: table;
    margin: 0 auto;
    table-layout: fixed;
    width: 1180px;
    @media all and (max-width: 1199px) {
      width: 100%;
    }
    @media all and (max-width: 767px) {
      table-layout: auto;
    }
    a {
      color: $red;
      display: table-cell;
      font-family: $bree;
      font-size: 24px;
      font-weight: bold;
      line-height: 25px;
      padding: 20px 0 5px 0;
      position: relative;
      text-align: center;
      vertical-align: middle;
      z-index: 10;
      @media all and (max-width: 767px) {
        font-size: 13px;
        line-height: 20px;
        padding: 15px 0 10px 0;
      }
      &:hover {
        color: $red;
      }
      &.current {
        color: $blue;
      }
      i {
        color: $grey;
        display: block;
        font-family: $azo;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        @media all and (max-width: 767px) {
          display: none;
        }
      }
    }
    ul {
      display: table-cell;
      vertical-align: middle;
      li {
        display: inline-block;
        a {
          display: block;
          margin: 0 10px;
          padding: 0;
          @media all and (max-width: 767px) {
            margin: 0 5px;
          }
          img {
            @media all and (max-width: 767px) {
              max-height: 12px;
            }
          }
        }
      }
    }
  }
}

/* Rotate
----------------------------------------------- */
div#rotate {
  background: url(../img/chad/wallpaper.png) center bottom;
  display: none;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  @media all and (max-width: 1023px) {
    display: table;
  }  
  @media all and (max-width: 767px) {
    background-size: 150px 150px;
    display: none;
  }
  @media all and (max-width: 479px) {
    display: table;
  }
  &:before {
    background:  url(../img/chad/shadow.png) no-repeat center center;
    background-size: 100% 100%;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  article {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    z-index: 100;
    > div {
      margin: 0 auto;
      text-align: center;
      width: 600px;
      @media all and (max-width: 767px) {
        width: 250px;
      }
      img {
        display: block;
        margin: 50px auto;
        max-height: 100px;
      }
      p {
        font-family: $bree;
        font-size: 28px;
        line-height: 30px;
        margin: 0 0 20px 0;
        @media all and (max-width: 767px) {
          font-size: 12px;
          line-height: 15px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

/* Scene
----------------------------------------------- */
div#scene {
  height: 100vh;
  position: relative;
  a.prev {
    background: url(../img/chad/pattern.png);
    @include border-radius(0 35px 35px 0);
    display: block;
    height: 70px;
    left: 0;
    margin: -35px 0 0 0;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 100px;
    z-index: 20;
    @media all and (max-width: 1199px) {
      transform: scale(0.8);
      transform-origin: 0 50%;
    }
    @media all and (max-width: 767px) {
      transform: scale(0.5);
      transform-origin: 0 50%;
    }
    &:before {
      border: 2px dashed #fff;
      border-left: none;
      @include border-radius(0 30px 30px 0);
      box-sizing: border-box;
      content: '';
      display: block;
      height: 60px;
      left: 0;
      position: absolute;
      top: 5px;
      width: 95px;
    }
    &:after {
      background: url(../img/chad/prev.png);
      content: '';
      display: block;
      height: 27px;
      left: 50%;
      margin: -13px 0 0 -8px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
  }
  a.next {
    background: url(../img/chad/pattern.png);
    @include border-radius(35px 0 0 35px);
    display: block;
    height: 70px;
    margin: -35px 0 0 0;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 50%;
    width: 100px;
    z-index: 20;
    @media all and (max-width: 1199px) {
      transform: scale(0.8);
      transform-origin: 100% 50%;
    }
    @media all and (max-width: 767px) {
      transform: scale(0.5);
      transform-origin: 100% 50%;
    }
    &:before {
      border: 2px dashed #fff;
      border-right: none;
      @include border-radius(30px 0 0 30px);
      box-sizing: border-box;
      content: '';
      display: block;
      height: 60px;
      position: absolute;
      right: 0;
      top: 5px;
      width: 95px;
    }
    &:after {
      background: url(../img/chad/next.png);
      content: '';
      display: block;
      height: 27px;
      left: 50%;
      margin: -13px 0 0 -8px;
      position: absolute;
      top: 50%;
      width: 16px;
    }
  }
  a.slick-disabled {
    display: none !important;
  }
  ul.slick-dots {
    bottom: 120px;
    font-size: 0;
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 20;
    @media all and (max-width: 1199px) {
      bottom: 100px;
    }
    @media all and (max-width: 767px) {
      display: none;
    }
    li {
      display: inline-block;
      margin: 0 12px;
      padding: 0;
      vertical-align: middle;
      &.slick-active {
        button {
          background: url(../img/chad/pattern.png);
          height: 23px;
          width: 23px;
        }
      }
      button {
        background: none;
        @include border-radius(50%);
        display: block;
        height: 19px;
        text-indent: -9999px;
        width: 19px;
        &:after {
          border: 1px dashed #fff;
          @include border-radius(50%);
          content: '';
          display: block;
          height: 19px;
          left: 50%;
          margin: 0 0 0 -2px;
          position: absolute;
          top: 2px;
          width: 19px;
        }
      }
    }
  }
  div.slick-list,
  &.static {
    position: relative;
    &:before {
      background:  url(../img/chad/shadow.png) no-repeat center center;
      background-size: 120% 100%;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
    }
  }
  div.slick-track,
  div.background {
    background: url(../img/chad/wallpaper.png) center bottom;
    height: 100%;
    overflow: hidden;
    position: relative;
    @media all and (max-width: 767px) {
      background-size: 150px 150px;
    }
    &:before {
      background: url(../img/chad/chair-rail.png) repeat-x center bottom, url(../img/chad/lights-on.png) repeat-x center top;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      @media all and (max-width: 1199px) {
        background-size: auto 150px, auto 110px;
      }
      @media all and (max-width: 767px) {
        background-size: auto 87px, auto 50px;
      }
    }
  }
  div.overlay {
    background: url(../img/chad/lights-on.png) repeat-x center top;
    background-color: rgba(0, 0, 0, 0.9);
    display: block;
    height: 100vh;
    position: absolute;
    vertical-align: center;
    width: 100%;
    @media all and (max-width: 1199px) {
      background-size: auto 110px;
    }
    @media all and (max-width: 767px) {
      background-size: auto 50px;
    }
  }
  div.slide,
  div.artboard {
    display: table;
    height: 100vh;
    position: relative;
    vertical-align: center;
    width: 100%;
    z-index: 100;
    &.clean {
      &:before,
      &:after {
        display: none !important;
      }
    }
    &:before {
      background: url(../img/chad/window-one.png);
      content: '';
      height: 308px;
      margin: -250px 0 0 0;
      position: absolute;
      right: -175px;
      top: 50%;
      width: 349px;
      @media all and (max-width: 1199px) {
        margin-top: -275px;
        transform: scale(0.7);
        transform-origin: 50% 0;
      }
      @media all and (max-width: 767px) {
        display: none;
      }
    }
    &:first-of-type:after {
      background: url(../img/chad/window-two.png);
      content: '';
      height: 308px;
      left: -175px;
      margin: -250px 0 0 0;
      position: absolute;
      top: 50%;
      width: 348px;
      @media all and (max-width: 1199px) {
        margin-top: -275px;
        transform: scale(0.7);
        transform-origin: 50% 0;
      }
      @media all and (max-width: 767px) {
        display: none;
      }
    }
    &:nth-of-type(2n+2):before {
      background: url(../img/chad/window-two.png);
      height: 308px;
      width: 348px;
      @media all and (max-width: 1199px) {
        margin-top: -275px;
        transform: scale(0.7);
        transform-origin: 50% 0;
      }
      @media all and (max-width: 767px) {
        display: none;
      }
    }
    span.fireplace {
      background: url(../img/chad/fireplace.png);
      bottom: 40px;
      content: '';
      display: block;
      height: 337px;
      position: absolute;
      right: calc(50% + 300px);
      width: 380px;
      z-index: 20;
      @media all and (max-width: 1199px) {
        right: calc(50% + 280px);
        transform: scale(0.8);
        transform-origin: 100% 80%;
      }
      @media all and (max-width: 767px) {
        right: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 100% 90%;
      }
    }
    span.chair {
      background: url(../img/chad/chair.png);
      bottom: 0;
      content: '';
      display: block;
      height: 478px;
      position: absolute;
      right: calc(50% + 300px);
      width: 310px;
      z-index: 20;
      @media all and (max-width: 1199px) {
        right: calc(50% + 280px);
        transform: scale(0.8);
        transform-origin: 100% 80%;
      }
      @media all and (max-width: 767px) {
        right: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 100% 90%;
      }
    }
    span.tree {
      background: url(../img/chad/tree.png);
      bottom: 0;
      content: '';
      display: block;
      height: 545px;
      left: calc(50% + 300px);
      position: absolute;
      width: 279px;
      @media all and (max-width: 1199px) {
        left: calc(50% + 280px);
        transform: scale(0.8);
        transform-origin: 0 80%;
      }
      @media all and (max-width: 767px) {
        left: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 0 90%;
      }
    }
    span.person {
      background: url(../img/chad/person-knitting.png);
      bottom: 0;
      content: '';
      display: block;
      height: 503px;
      position: absolute;
      right: calc(50% + 300px);
      width: 360px;
      z-index: 20;
      @media all and (max-width: 1199px) {
        right: calc(50% + 280px);
        transform: scale(0.8);
        transform-origin: 100% 80%;
      }
      @media all and (max-width: 767px) {
        right: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 100% 90%;
      }
    }
    span.people {
      background: url(../img/chad/people-knitting.png);
      bottom: 0;
      content: '';
      display: block;
      height: 576px;
      left: calc(50% + 300px);
      position: absolute;
      width: 593px;
      @media all and (max-width: 1199px) {
        left: calc(50% + 280px);
        transform: scale(0.8);
        transform-origin: 0 80%;
      }
      @media all and (max-width: 767px) {
        left: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 0 90%;
      }
    }
    span.table {
      background: url(../img/chad/table.png);
      bottom: 0;
      content: '';
      display: block;
      height: 358px;
      position: absolute;
      right: calc(50% + 300px);
      width: 328px;
      z-index: 20;
      @media all and (max-width: 1199px) {
        right: calc(50% + 280px);
        transform: scale(0.8);
        transform-origin: 100% 80%;
      }
      @media all and (max-width: 767px) {
        right: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 100% 90%;
      }
    }
    span.lamp {
      background: url(../img/chad/lamp.png);
      bottom: 0;
      content: '';
      display: block;
      height: 469px;
      left: calc(50% + 350px);
      position: absolute;
      width: 97px;
      @media all and (max-width: 1199px) {
        left: calc(50% + 300px);
        transform: scale(0.8);
        transform-origin: 0 80%;
      }
      @media all and (max-width: 767px) {
        left: calc(50% + 150px);
        transform: scale(0.4);
        transform-origin: 0 90%;
      }
    }
    ul.builder-nav {
      text-align: left;
      img {
        height: auto;
        max-height: 9999px !important;
        width: 100%;
      }
      li {
        display: block;
        margin: 20px 0 0 0;
        a {
          color: #fff;
          display: block;
          font-size: 18px;
          line-height: 80px;
          position: relative;
          &.avatar {
            &:before {
              background: url(../img/chad/avatar.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
            &.current:before {
              background: url(../img/chad/avatar-on.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
          }
          &.sweater {
            &:before {
              background: url(../img/chad/sweater.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
            &.current:before {
              background: url(../img/chad/sweater-on.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
          }
          &.scene {
            &:before {
              background: url(../img/chad/scene.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
            &.current:before {
              background: url(../img/chad/scene-on.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
          }
          &.share {
            &:before {
              background: url(../img/chad/share.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
            &.current:before {
              background: url(../img/chad/share-on.png) no-repeat center center, url(../img/chad/texture-blue.png) repeat center center;
            }
          }
          &:before {
            background: url(../img/chad/texture-blue.png) repeat center center;
            @include border-radius(50%);
            content: '';
            display: inline-block;
            height: 80px;
            margin: 0 20px 0 0;
            vertical-align: middle;
            width: 80px;
          }
          &:after {
            border: 2px dashed #fff;
            @include border-radius(50%);
            box-sizing: border-box;
            content: '';
            display: block;
            height: 70px;
            left: 5px;
            position: absolute;
            top: 8px;
            width: 70px;
          }
        }
      }
    }
    > h1 {
      margin: 0 300px 0 0;
      position: absolute;
      right: 50%;
      top: 125px;
      z-index: 100;
      @media all and (max-width: 767px) {
        left: 50px;
        margin: 0;
        top: 25px;
      }
      img {
        @media all and (max-width: 767px) {
          max-height: 50px; 
        }
      }
    }
    article {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      z-index: 100;
      &.wide {
        > div {
          padding-bottom: 80px;
          width: 1180px;
          @media all and (max-width: 1199px) {
            padding-bottom: 0;
            padding-top: 30px;
            width: 90%;
          }
          @media all and (max-width: 767px) {
            padding-bottom: 0;
            padding-top: 15px;
          }
        }
      }
      > div {
        margin: 0 auto;
        padding: 0 0 110px 0;
        text-align: center;
        width: 600px;
        @media all and (max-width: 767px) {
          padding-bottom: 80px;
          width: 250px;
        }
        img.title {
          display: inline-block;
          margin: 0 0 30px 0;
          max-height: 120px;
          @media all and (max-width: 767px) {
            margin-bottom: 10px;
            max-height: 60px;
          }
        }
        h2 {
          font-family: $bree;
          font-size: 28px;
          line-height: 30px;
          margin: 0 0 20px 0;
          @media all and (max-width: 767px) {
            font-size: 12px;
            line-height: 15px;
            margin-bottom: 10px;
          }
        }
        p {
          font-size: 20px;
          line-height: 28px;
          @media all and (max-width: 767px) {
            font-size: 10px;
            line-height: 14px;
          }
          b,
          strong {
            color: $yellow;
          }
        }
        a.button {
          background: red url(../img/chad/pattern.png) center center;
          box-sizing: border-box;
          color: #fff;
          display: inline-block;
          font-family: $bree;
          font-size: 24px;
          font-weight: bold;
          line-height: 24px;
          padding: 15px 25px 18px 25px;
          position: relative;
          text-shadow: 0 2px 0px rgba(0, 0, 0, 0.2);
          @media all and (max-width: 767px) {
            font-size: 12px;
            line-height: 15px;
            padding: 10px 15px 12px 15px;
          }
          &.start {
            bottom: 180px;
            left: 50%;
            margin: 0 0 0 -125px;
            position: fixed;
            width: 250px;
            @media all and (max-width: 767px) {
              bottom: 65px;
              margin-left: -60px;
              width: 120px;
              z-index: 100;
            }
          }
          &:before {
            border: 2px dashed #fff;
            box-sizing: border-box;
            content: '';
            display: block;
            height: calc(100% - 10px);
            left: 5px;
            position: absolute;
            top: 5px;
            width: calc(100% - 10px);
            @media all and (max-width: 767px) {
              border: 1px dashed #fff;
            }
          }
        }
        div#builder-container {
          background: url(../img/chad/container.png);
          box-sizing: border-box;
          color: #000;
          height: 622px;
          margin: 0 auto;
          padding: 60px;
          position: relative;
          text-align: left;
          width: 803px;
          @media all and (max-width: 1199px) {
            transform: scale(0.85);
            transform-origin: 0 0;
          }
          @media all and (max-width: 767px) {
            transform: scale(0.4);
            transform-origin: 0 0;
          }
          h1 {
            color: $blue;
            font-family: $bree;
            font-weight: bold;
            font-size: 36px;
            line-height: 40px;
            margin: 0 0 30px 0;
            text-align: center;
            &.badge {
              background: url(../img/chad/badge.png);
              font-size: 34px;
              height: 90px;
              left: 50%;
              line-height: 80px;
              margin: 0 0 0 -190px;
              position: absolute;
              top: -20px;
              width: 379px;
            }
          }
          h2 {
            font-size: 16px;
            line-height: 24px;
          }
          p {
            font-size: 13px;
            line-height: 20px;
          }
          a {
            color: $red;
            text-decoration: underline;
          }
          div.tips {
            border-top: 4px solid #f2eceb;
            bottom: 40px;
            left: 30px;
            padding: 40px 0 20px 0;
            position: absolute;
            text-align: center;
            width: 736px;
            h2 {
              background: url(../img/chad/tips-badge.png);
              color: $red;
              height: 50px;
              font-family: $bree;
              font-size: 21px;
              left: 50%;
              line-height: 45px;
              margin: 0 0 0 -111px;
              position: absolute;
              text-align: center;
              top: -28px;
              width: 223px;
            }
            a {
              display: block;
            }
            img {
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}