.insta-feed {
  display: flex;
  flex-wrap: wrap;

  @at-root #{&}__li {
	padding: .5em;
	flex: 25%;
	width: 25%;

	&.testimonial {

    flex: 100%;
    width:100%;

    @media (min-width: $screen-sm-min) {
      flex: 50%;
      width:50%;
    }

	  p {
		margin-bottom: 0em;
	  }
	}
  }

  .testimonial__container {
	padding: 2em;
	text-align: center;
	background: $white;
	height: 100%;

	h3 {
	  font-size: 1.7em;
	  margin-bottom: 0.5em;
	}
	h4 {
	  font-size: 1.1em;
	}
	h5 {
	  font-size: 1.1em;
	  margin-bottom: 1em;
	}
  }
}
