.content__services-grid {
  //display: flex;
  //flex-wrap: wrap;

  @at-root #{&}__item {
	//flex: 50%;
	//width: 50%;
	padding: 1em;
  }
  
  @at-root #{&}__item-container {
	display:flex;
	
	h3 {
	  font-size: 2em;
	  font-weight: 900;
	  line-height: 1.1;
	  padding: 0em 0em 0.5em 0em;
	}
  }
  
  @at-root #{&}__item-image {
	flex: 1;
	padding: 1.5em 0;
  }
  
  @at-root #{&}__item-content {
	flex: 1;
	text-align: center;
	padding: 1em 2em;
	background: #fff;
  }
  
  @at-root #{&}__item-pricing {
	margin: 0.5em 0 1em 0;
	font-size: 1.2em;
	line-height: 1.7em;
	font-family: 'PT Serif', serif;
	font-weight: bold;
  }
}