<ng-progress id="progress-bar" [color]="'#FFC300'" [thick]="'true'"></ng-progress>

<div [ngClass]="{'global-header': true, 'hide': hideClassToggle}">
	<div class="global-header__content-container" [innerHTML]="headerContent"></div>
	<ul class="main-menu">
		<li class="main-menu__li" *ngFor="let menuItem of menuItems">
			<a id="{{menuItem.title}}" class="main-menu__item" href="{{menuItem.url}}">{{menuItem.title}}</a>
		</li>
	</ul>
	<span aria-hidden="true" class="global-header__shadow"></span>
</div>

<div id="home" [ngClass]="{'global-content': true, 'hide': hideClassToggle}">
	<div class="content__home content__sections">
		<div class="content__home-info" [innerHTML]="homeContent"></div>
	</div>
	<div id="services" class="content__services content__sections">
		<div class="content__services-info" [innerHTML]="servicesContent"></div>
		<ul class="content__services-grid">
			<li class="content__services-grid__item" *ngFor="let service of services">
				<div class="content__services-grid__item-container">
					<div class="content__services-grid__item-image">
						<img src="{{service.acf.service_image}}">
					</div>
					<div class="content__services-grid__item-content">
						<h3>{{service.title.rendered}}</h3>
						<div class="content__services-grid__item-pricing" innerHTML="{{service.acf.service_price}}"></div>
						<div innerHTML="{{service.content.rendered}}"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="packages" class="content__packages content__sections">
		<div class="content__packages-info" [innerHTML]="packagesContent"></div>
		<ul class="content__packages-grid">
			<li class="content__packages-grid__item" *ngFor="let package of packages">
				<div class="content__packages-grid__item-container">
					<div class="content__packages-grid__item-image">
						<!--<img src="{{package.acf.service_image}}">-->
					</div>
					<div class="content__packages-grid__item-content">
						<h3>{{package.title.rendered}}</h3>
						<div class="content__packages-grid__item-pricing" innerHTML="{{package.acf.service_price}}"></div>
						<div innerHTML="{{package.content.rendered}}"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="gallery" class="content__gallery content__sections">
		<div class="content__gallery-info" [innerHTML]="galleryContent"></div>
		<ul class="insta-feed">
			<li class="insta-feed__li carousel-cell" *ngFor="let instaItem of instaItems">
				<a href="{{instaItem.link}}"><img aria-hidden="true" src="{{instaItem.images.standard_resolution.url}}"></a>
			</li>
		</ul>
	</div>
	<div id="testimonials" class="content__testimonials content__sections">
		<div class="content__testimonials-info" [innerHTML]="testimonialsContent"></div>
		<ul class="insta-feed">
			<li class="insta-feed__li testimonial" *ngFor="let testimonial of testimonials">
				<div class="testimonial__container">
					<h3>{{testimonial.acf.name}}</h3>
					<h4>{{testimonial.acf.service_type}}</h4>
					<h5>{{testimonial.acf.date}}</h5>
					<div innerHTML="{{testimonial.content.rendered}}"></div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--
<ul class="insta-feed">
			<li class="insta-feed__li carousel-cell" *ngFor="let instaItem of instaItems">
				<img src="{{instaItem.images.standard_resolution.url}}">
			</li>
		</ul>
<div id="section--past-work">
	<div innerHTML="{{workContent}}"></div>
	<div id="insta-feed" ></div>
</div>

<div id="section--contact">
	<div innerHTML="{{contactContent}}"></div>
</div>
-->

<div [ngClass]="{'global-footer': true, 'hide': hideClassToggle}">
	<section class="global-footer__information">
		<div class="global-footer__brands">
			<h3>Brands We Work With:</h3>
			<ul>
				<li>Onkyo</li>
				<li>Pioneer</li>
				<li>Polk Audio</li>
				<li>Elura</li>
				<li>Definitive Technology</li>
				<li>Sonos</li>
				<li>Bose</li>
				<li>Denon</li>
				<li>Epson</li>
				<li>Sony</li>
				<li>Martin Logan</li>
				<li>Zuum</li>
				<li>Jamo</li>
				<li>NuVo</li>
				<li>Nest</li>
				<li>Proficient</li>
				<li>Vivitek</li>
				<li>Lutron</li>
				<li>Samsung</li>
				<li>Logitech</li>
				<li>JBL</li>
			</ul>
		</div>
		<div id="quick-quote" class="global-footer__quick-quote">
			<div class="global-footer__quick-quote-container">
				<h3>Get a Quick Quote</h3>
				<iframe src="http://content.simplicityhomemedia.com/contact" scrolling="no"></iframe>
			</div>
		</div>
	</section>
	<section class="global-footer__copy-info">
		<div>
			Copyright &copy; {{currentDate | date:'y'}} simplicityhomemedia.com, All Rights Reserved.
		</div>
		<ul class="global-footer__social">
			<li><a href="https://www.facebook.com/simplicityhomemedia/" target="_blank"><span class="sr-only">Facebook</span><span [innerHTML]="svgIconSelect('footer-facebook', 'global-footer__social-facebook')"></span></a></li>
			<li><a href="https://www.thumbtack.com/tx/houston/home-automation/home-theater-installation-more" target="_blank"><span class="sr-only">Thumbtack</span><span [innerHTML]="svgIconSelect('footer-thumbtack', 'global-footer__social-thumbtack')"></span></a></li>
			<li><a href="https://www.instagram.com/simplicityhomemedia/" target="_blank"><span class="sr-only">Instagram</span><span [innerHTML]="svgIconSelect('footer-instagram', 'global-footer__social-instagram')"></span></a></li>
		</ul>
	</section>
</div>
