#content-header-featurearea {
	//max-height: 30em;
	//min-height: 30em;

	@media (min-width: 768px) {
		//max-height: 22em;
		//min-height: 22em;
	}
	@media (min-width: 1024px) {
		//max-height: 36em;
		//min-height: 36em;
	}
	background: #BCBEC0;
	overflow: hidden;

	img {

	}
}

#feature-items {
	position: relative;
    z-index: 2;

    @media (min-width: 768px) {
    	margin-top: -3em;
	}

    .feature-items-item {
		background: #fff;
		padding: 0;

    	.feature-items-item-inner {
    		margin: 0 0.468em;
    		padding: 2em 1em 3.8em 1em;
    		background: #fff;
    		min-height: 5em;
    		flex: 1;
    		height: 100%;
    	}

    	.feature-items-item-title {
    		color: #1B5E5E;
    		font-size: 1.3125em;
    		margin: .5em 0;
    		font-weight: bold;
    	}

    	.feature-items-item-description {
    		font-size: 1.125em;
    		margin-bottom: 1em;
    	}

    	.feature-items-item-viewmore {
    		position: absolute;
		    bottom: 1em;
		    right: 1.468em;
		    color: #000;
		    width: 4.75em;
		    text-align: center;
		    &:hover, &:focus {
				outline: 1px dashed;
				outline-offset: .15em;
		    }
    	}
    }
}

#footer-bottom #back-to-top {
	display: none;
}

#home-general-info {
	padding: 6em 0 3em 0;
	background: #e8e8e8;
	overflow: hidden;
	position: relative;
	top: -3em;
	p {
		font-size: 1.2em;
		color: #000;
		margin-bottom: 1em;
	}
}

.general-info-title {
	color: #1B5E5E;
	font-size: 1.3125em;
	margin: .5em 0;
	font-weight: bold;
}

.general-info-title-p {
	font-size: 1.125em;
	margin-bottom: .3em;
	color: #000;
}

.star-list {
	list-style: disc;
	margin-left: 1.5em;
	color: #000;
}


#footer {
	background: #D51C53;
	color: #fff;
}

#footer-information {
	padding: 1em 0 4em 0;
}

#footer-nav {
	text-align: center;
	color: #fff;

	a {
		display: inline-block;
		margin: 1em 1em;
		padding: .5em;
		color: #fff;
		font-weight: bold;
		&:hover, &:focus {
			outline: 1px dashed;
    		outline-offset: .15em;
		}
	}
}

#footer-location {
	text-align: center;

	a {
		color: #fff;
	}
}

.footer-location-address {
	display: block;
}

.footer-location-phone, .footer-location-email {
	margin-left: 1em;
	white-space: nowrap;
}

.footer-location-email {
	&:focus, &:hover {
		outline: 1px dashed;
		outline-offset: .15em;
	}
}

#footer-faux-logo {
	text-align: center;
	margin: 2em 0;

	img {
		width: 5em;
	}
}

.page-title {
	font-size: 3.25em;
	padding: 0;
	overflow: hidden;

	&:before {
		content:"";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 2;
		top: 0;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+52,ffffff+100&1+50,0+100 */
		background: -moz-linear-gradient(left, rgba(255,255,255,1) 50%, rgba(255,255,255,0.96) 52%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(left, rgba(255,255,255,1) 50%,rgba(255,255,255,0.96) 52%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to right, rgba(255,255,255,1) 50%,rgba(255,255,255,0.96) 52%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	}

	&:after {
		content:"";
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		z-index: 0;
		background: #fff;
		top: 0;
	}

	.image {
	    position: absolute;
	    z-index: 1;
	    left: 0;
	    top: 0;
	}

	h2 {
		font-weight: 700;
		//text-align: left;
		padding: 0.8em 0;
		position: relative;
		z-index: 3;
		font-style: italic;
	}
}

#page-content-gen {
	padding-bottom: 3em;
}

.title {
	font-family: 'scribble_boxregular';
	font-size: 1.5em;
	border-bottom: .5em solid #d7c7a7;
    padding-left: .5em;
    margin-bottom: 1em;
    text-align: center;
    padding-bottom: .3em;
}

.color-pink {
	color: #d5175c!important;
}

.color-blue {
	color: #103c83!important;
}

.package-single {
    background: #fae8c2;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;

    &.last {
    	margin-bottom: 0;
    }

    img {
    	display: block;
    	border: .3em dashed #d7c7a7;
    	padding: .3em;
    }

}

.ul-list-style {
	list-style: none;
	padding: 0;
	margin: 0!important;

	li {
		padding-left: 1em; 
		text-indent: -.7em;
		list-style: none!important;
	}

	li::before {
		content: "• ";
		color: #d7c7a7;
		position: relative;
    	left: -.2em;
	}
}

.teepee-icon {
	display: inline-block!important;
    width: 3em;
    height: auto;
    border: 0!important;
    padding: 0!important;
}

.package-pricing {
	width: 4em;
    height: 4em;
    padding: 0;
    line-height: 1em;
    border: .25em solid;
    border-radius: 500%;
    display: table;
    //margin: 0 auto;
    margin-top: 1em;
    color: #d5175c;
    margin-bottom: 2em;
    float: left;
}

.package-pricing-container {
	vertical-align: middle;
    display: table-cell;
    word-break: break-all;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.main-title {
	font-family: 'scribble_boxregular';
    font-size: 2em;
    text-align: center;
    margin-bottom: 0;
    line-height: normal;

    @media (min-width: 768px) {
    	font-size: 3em;
    }
}

.main-title-sub {
	font-size: 3em;
    font-family: 'scribble_boxregular';
    text-align: center;
    line-height: normal;
    margin-bottom: .8em;
    letter-spacing: normal;
    @media (min-width: 768px) {
    	font-size: 1.5em;
    }
}

.package-cta {
	text-align: center;
    margin: 1em 0 0 0;
    //border-bottom: .5em solid #d7c7a7;
    font-size: 1.5em;
    float: left;

    .btn {
    	background: #d5175c;
		padding: .7em 1em;
		font-size: .65em;
		display: inline-block;
		color: #fff;
		font-weight: 700;
		border-radius: .5em;
		border: .1em solid #BB1451;
		margin-bottom: 1.5em;

	    &:focus, &:hover {
	    	background: #BB1451;
	    }

	    &.btn-blue {
	    	background: #103c83;
	    	border-color: #1C67E2;
	    	&:focus, &:hover {
		    	background: #1C67E2;
		    }
	    }
    }
}

.pricing-button-cont {
	margin: 0 auto;
}

#theme-invites {
    border: .5em dashed #fae8c2;
    padding: 2em;
    text-align: center;

    .main-title {
    	margin-bottom: 0.5em;
    }
}

#theme-kits {
	border-top: 0;
}

.kit-column {
	outline: .3em dashed #d7c7a7;
    outline-offset: -.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;

    &.custom {
    	margin-bottom: 0;
    	text-align: center;
    }

	h2 {
		font-size: 1.3em;
	    font-weight: 700;
	    margin-bottom: 0.5em;
	}
	img {
		display: block;
    	
	}
}