@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');

@font-face {
    font-family: 'scribble_boxregular';
    src: url('fonts/sweeet/scribble_box_demo-webfont.woff2') format('woff2'),
         url('fonts/sweeet/scribble_box_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



/* custom
/* ------------------- */
#social-info-bar {
	display: none;
	background-color: #D51C53;
	padding: .5em 0;
	font-size: 0.75em;

	a {
		color:#f8f3f5;
	}
}

#top-banners-heading {
	position: absolute;
    right: 0;
    z-index: 0;
}

#logo-header-container {
	@media (min-width:768px) {
		text-align: center;
	}
	top: 0;
	
	position: absolute;
	z-index: 2;

	@media(min-width: 768px) {
		top: -2.6em;
		padding: .5em 0 0 0;
	}
}

#logo-header, #logo-header-no-bg {
	width: 55%;
	@media (min-width: 768px) {
		width: 100%;
	}
}

#tagline-header {
	background: #D51C53;
	text-align: center;
	color: #fff;
	font-size: 2.5em;
    padding: .3em 0.2em 0.25em 2rem;
}

.nav-wrap {
	&:before {
		content: ' ';
		display: block;
		width: 150px;
		height: 34px;
		position: absolute;
		top: -30px;
		right: 0;
		background: url("img/teepee.svg") no-repeat bottom right;
	}
	li {

		a {
			display: inline-block;
		    font-size: 1em;
		    letter-spacing: normal;
		    font-weight: 700;
		    @media(min-width: 992px) {
		    	font-size: 1.3em;
		    }
		    @media(min-width: 1200px) {
		    	font-size: 1.5em;
		    }

		    &:after {
		    	
				content: '●';
				color: #fff;
				position: relative;
				top: -.05em;
				opacity: .7;
				padding-left: .3em;
    			padding-right: .3em;
			}

			&:hover, &:focus {
				text-decoration: underline;
			}
		}

		&:last-child {
			a {
				margin-right: 0;
				&:after {
					content: '';
					padding-left: 0;
				}
			}
		}

		&.instagram-menu, &.book-now {
			a {
				margin-right: 0;
				&:after {
					content: '';
					padding-left: 0;
				}
				
			}
		}

		&.instagram-menu, &.facebook-menu {
			a {
				margin-right: 0;
				&:after {
					content: '';
					padding-left: 0;
				}
				&:focus, &:hover {
					.fa {
	    				outline: 1px dashed;
	    				outline-offset: .15em;
	    			}
	    		}
			}
		}

		.fa {
			position: relative;
    		top: -.1em;
		}
	}
}

#header-menu-area {
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	
}

#header-menu-area-menus {
	background: #D51C53;
	padding: 0.5em;
	@media (min-width: 768px) {
		margin-top: 2em;
		background: transparent;
		padding: 0;
	}
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
	color: #fff;
}

#header-menu-tag {
	color: #fff;
    font-size: 0.75em;
    padding: 0.5em 0;
    padding-left: 1.3rem;
    text-align: center;
    font-weight: bold;
    /* display: none; */
    background-color: #3BA5AA;
    font-style: italic;
    border-top: 0.0625em dashed #fff;

    @media (min-width: 992px) {
    	font-size: 1em;
    }
}

#nav-topbar .nav li > a:hover, #nav-topbar .nav li:hover > a, #nav-topbar .nav li.current_page_item > a, #nav-topbar .nav li.current-menu-item > a, #nav-topbar .nav li.current-menu-ancestor > a, #nav-topbar .nav li.current-post-parent > a {
	color: #fff;
}

#nav-topbar {
	background: rgba(255,255,255,0);
	-webkit-transition: background .5s ease-out;
	 	 -moz-transition: background .5s ease-out;
	 	 -o-transition: background .5s ease-out;
	 	 transition: background .5s ease-out;
	 	 #logo-header-no-bg {
	 	 	display: inline-block;
	 	 }
	 	 #logo-header {
	 	 	display: none;
	 	 }
	&.scrollmenu {
		background: rgba(255,255,255,.9);
		-webkit-transition: background .5s ease-in;
	 	 -moz-transition: background .5s ease-in;
	 	 -o-transition: background .5s ease-in;
	 	 transition: background .5s ease-in;

	 	 #logo-header {
	 	 	display: none;
	 	 }
	 	 #logo-header-no-bg {
	 	 	display: inline-block;
	 	 }
	}
}

.instagram-menu {
	@media(min-width: 768px) {
		margin-left: 1em;
	}
	a {
		margin-right: 0!important;
		font-size: 1.1em!important;
	}
}

.facebook-menu {
	a {
		font-size: 1.1em!important
	}
}
#nav-topbar {
	.nav-text {
		float: none;
		display: none;
		position: absolute;
	    width: 100%;
	    left: 0;
	    top: 3.9em;
	    background: #D51C53;
	    margin-top: 0;
	    padding-top: 0;

	    &.open {
	    	display: block;
	    }

	    .nav {
	    	margin-top: 0;
	    	padding-top: 0;
	    	padding-bottom: 0;
	    }

		#menu-topbar-menu {
			text-align: center;

			a {
				color: #fff;
			}
		}

		li > a {
			border: 0.0625em dashed transparent;
			border-bottom: 0.0625em dashed #fff;
		}

		li:first-child {
			 > a {
				&:hover {
					border-top: 0.0625em dashed #fff;
				}
			}
			&.current_page_item > a,
			&.current-menu-item > a,
			&.current-post-parent > a {
				border-top: 0.0625em dashed #fff;
			}

		}

		li > a:hover,
		li.current_page_item > a,
		li.current-menu-item > a,
		li.current-post-parent > a {
			background: #3BA5AA;
			border-left: 0.0625em dashed #fff;
			border-right: 0.0625em dashed #fff;
		}
	}
}








